<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logogede"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logogede"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nandogami"
        tools:targetApi="31">

        <!-- SplashActivity sebagai launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AuthActivity (Login/Register) -->
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:theme="@style/Theme.Nandogami">
        </activity>

        <!-- MainActivity (Home/Main) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false"
            android:label="Title Detail"
            android:theme="@style/Theme.Nandogami"/>

        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Nandogami" />

        <!-- (Tambahkan activity lain jika ada) -->

    </application>
</manifest>
